<!DOCTYPE html>
<head>
	<title>Driver's backend</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
	<link rel="stylesheet" type="text/css" href="/static/css/backend.css">
	<script>  
        setTimeout(function(){  
            document.getElementsByTagName('body')[0].style.height = window.innerHeight+'px';  
        },20);    
	</script>
</head>

<body style="">
	<div class="backend">
		<div class="left">
			<div class="top">
				<div class="uquick_logo"></div>
				<div class="text1">UQUICK</div>
			</div>
			<div class="bot">
				<div class="menu_home">
                    <a href="com_backend">
					<div class="logo"></div>
					<div class="text">DASHBOARD</div>
				    </a>
                </div>
				<div class="menu_doc">
                    <a href="com_profile">
					<div class="logo"></div>
					<div class="text">PROFILE</div>
                    </a>
                </div>
			</div>
		</div>
		<div class="right">
			<div class="content">
				<div class="banner"></div>
				<div class="text1">YOUR PRIVATE COURIER</div>
				<div class="text2">Welcome to UQUICK!</div>
			</div>
			<div class="bottom">
				<div class="bot1">
					<div class="icon"></div>
					<div class="text">Complete Every </div>
					<div class="text">Delivery Within 1 Hour</div>
				</div>
				<div class="bot2">
					<div class="icon"></div>
					<div class="text">Excellent Hygiene &</div>
					<div class="text">Great Communication</div>
				</div>
				<div class="bot3">
					<div class="icon"></div>
					<div class="text">Provide an Unbeatable</div>
					<div class="text">Customer Experience</div>
				</div>
			</div>
		</div>
	</div>
</body>
