<!DOCTYPE html>
<head>
	<title>Become a courier</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
	<link rel="stylesheet" type="text/css" href="/static/css/business.css">
</head>
<body>
	<div class="business">
		<div class="a show">
		</div>
		<div class="b">
			<div class="btn-group">
				<a class="btn" href="index.html">HOME</a>
				<a class="btn" href="business.html">BUSINESS</a>
			</div>
			<h2 class="title">Local businesses are trapping into the UQUICK network to make delivery better for everyone.</h2>
		</div>
		<div class="d">
			<h2 class="title">Get started with UQUICK !</h2>
			<p>Let us know a little about your business. We're currently only<br/> in Melbourne. But we'll be coming to other cities soon.</p>
			<form class="form" method='post' action="mailto:drive@uquick.com.au?subject=Business Application">
				<input name='first_name' type="text" class="form-control sm" placeholder="First name" />
				<input name='last_name' type="text" class="form-control sm" placeholder="Last name" />
				<input name='business_name' type="text" class="form-control" placeholder="Business name" />
				<input name='phone_num' type="text" class="form-control" placeholder="Phone" />
				<input name='email' type="text" class="form-control" placeholder="Email" />
				<input name='city' type="text" class="form-control sm" placeholder="City" />
				<input name='post_code' type="text" class="form-control sm" placeholder="Post code" />
				<input name='weekly_deliveries' type="text" class="form-control" placeholder="Estimated weekly deliveries" />
				<input type="submit" class="submit" value="SUBMIT"/>
			</form>
		</div>
		<div class="g">
			<div class="logo appStore"></div>
			<div class="logo googlePlay"></div>
			<div class="menu">
				<a href="com_courier" class="text">BECOME A COURIER</a>
				<a href="/static/faququick.pdf" class="text">FAQs</a>
				<a href="#" class="text">CONTACT US</a>
				<a href="/static/UQUICKTermsandConditions.pdf" class="text">TERMS</a>
				<a href="com_privacy" class="text">PRIVACY</a>
				<div class="toggle"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/uquick.js"></script>
</body>
</html>
