<!DOCTYPE html>
<head>
	<title>Become a courier</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
	<link rel="stylesheet" type="text/css" href="/static/css/courier.css">
</head>
<body>
	<div class="courier">
		<div class="a show">
		</div>
		<div class="b">
			<div class="btn-group">
				<a class="btn" href="com_index">HOME</a>
				<a class="btn" href="com_business">BUSINESS</a>
			</div>
			<h2 class="title">Deliver when you want, earn what you need</h2>
			<div class="info">
				<div class="block">
					<h4 class"sub-title">WORK ON YOUR SCHEDULE</h4>
					<p class"text">Take trips for a few hours in the mornings, every night, or just on weekends - it's up to you. You are your own boss and you can choose when and how much you work.</p>
				</div>
				<div class="block">
					<h4 class"sub-title">CHOOSE YOUR WHEELS</h4>
					<p class"text">Driver your car or ride your bike. You choose the way you want to deliver, and we'll guide you through the rest.</p>
				</div>
				<div class="block">
					<h4 class"sub-title">EARN GOOD MONEY</h4>
					<p class"text">You'll make money by bringing people the things they love. Between deliveries, it's just you. So bump your favourite tunes and enjoy cruising around your city.</p>
				</div>
			</div>
		</div>
		<div class="c">
			<div class="left show car"></div>
			<div class="right">
				<h2 class="title">What it takes to deliver</h2>
				<p class="text">See what you need in order to partner with UQUICK. The must-haves depend on the way you want to deliver.</p>
				<div class="buttons">
					<div class="select car active"><span>DRIVING</span></div>
					<div class="select bike"><span>BIKING</span></div>
				</div>
				<div class="info">
					<ul class="content car show active">
						<li>Be at least 18 years old</li>
						<li>Be able to lift 50 lbs</li>
						<li>Have a driver's license, insurance and vehicle registration</li>
					</ul>
					<ul class="content bike show">
						<li>Be at least 18 years old</li>
						<li>Be able to lift 30 lbs</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="d">
			<h2 class="title">Be a courier with UQUICK !</h2>
			<p>As an UQUICK delivery partner, you'll connect people with the local things <br/>they love and make good money doing it. Have heart for your city and <br/>a knack for making someone's day? Start your first delivery.</p>
			<form class="form" method='post' action="mailto:driver@uquick.com.au?subject=Driver Application">
				<input name="first_name" type="text" class="form-control sm" placeholder="First name" />
				<input name="last_name" type="text" class="form-control sm" placeholder="Last name" />
				<input name="email" type="text" class="form-control" placeholder="Email" />
				<input name="phone_number" type="text" class="form-control" placeholder="Phone" />
				<input name="invite_code" type="text" class="form-control" placeholder="Invite code (Optional)" />
				<input name="city" type="text" class="form-control sm" placeholder="City" />
				<input name="post_code" type="text" class="form-control sm" placeholder="Post code" />
				<input name="transportation_method" type="text" class="form-control" placeholder="Type your transportation method" />
				<input name="work_hours" type="text" class="form-control" placeholder="How many hours per week are you able to work?" />
				<input name="legal_or_not" type="text" class="form-control" placeholder="Are you legally eligible to work in Australia?" />
				<input type="submit" class="submit" value="SUBMIT"/>
			</form>
		</div>
		<div class="e">
			<h2 class="title">Need a bike? <br/>Apply to lease them starting from $20 per week.</h2>
			<div class="info">
				<ul>
					<li>Only $150 deposit required</li>
					<li>All credit levels eligible to apply</li>
					<li>Unlimited mileadge</li>
				</ul>
			</div>
			<div class="contact">
				<p>If you would like to lease a bike <br/>Please call 1300-976-359</p>
			</div>
		</div>
		<div class="f">
			<h2 class="title">READY TO GET STARTED?</h2>
			<p class="text">Sign up today and make your first delivery</p>
			<div class="btn-group"><a class="btn" href="#">GET STARTED</a></div>
		</div>
		<div class="g">
			<div class="logo appStore"></div>
			<div class="logo googlePlay"></div>
			<div class="menu">
				<a href="com_courier" class="text">BECOME A COURIER</a>
				<a href="/static/faququick.pdf" class="text">FAQs</a>
				<a href="#" class="text">CONTACT US</a>
				<a href="/static/UQUICKTermsandConditions.pdf" class="text">TERMS</a>
				<a href="com_privacy" class="text">PRIVACY</a>
				<div class="toggle"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/uquick.js"></script>
</body>
</html>
